<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP5_SalmaEl.Properties.Settings.gestionnotes2021V2ConnectionString"
            connectionString="Data Source=desktop-cmmgaas\sqlexpress;Initial Catalog=gestionnotes2021V2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TP5_SalmaEl.Properties.Settings.gestionnotes2021V2_bacpacConnectionString"
            connectionString="Data Source=DESKTOP-45UMB69;Initial Catalog=gestionnotes2021V2.bacpac;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>